.search {
  display: flex;
  margin: auto;
  max-width: 90%;
  padding: 0 30px 0 30px;
}

.search button {
  position: absolute;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  padding: 0 5px 0 5px;
  width: 36px;
  height: 100%;
}

.search-input-wrapper {
  position: relative;
  font-size: 1.6rem;
  background: linear-gradient(to right, var(--font), var(--accent));
}

.search-input {
  width: 100%;
  font-size: inherit;
  padding: 10px 15px;
  border: none;
  color: var(--font);
  background-color: var(--background);
  margin-bottom: 1px;
  /* border-radius: var(--brd); */
}

.search-input::placeholder {
  color: var(--font);
}

.button-clear {
  transform: translateX(-100%);
  color: var(--accent);
  background-color: var(--font);
  border-radius: var(--brd) 0 0 var(--brd);
}

.button-submit {
  top: 0;
  right: 0;
  transform: translateX(100%);
  color: var(--background);
  background-color: var(--accent);
  border-radius: 0 var(--brd) var(--brd) 0;
  transition: 0.3s;
}
.button-submit:hover {
  padding: 0 0px 0 10px;
}
